.env
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/deployment.xml
/.idea/MarsCodeWorkspaceAppSettings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/weread2notion-pro.iml
/.trae/rules/project_rules.md
